@import "tailwindcss";

@theme {
    --font-custom: Helvetica, Arial, sans-serif;

    --text-sm: 1rem;
    --text-md: 1.3rem;
    --text-lg: 1.6rem;
    --text-dktitle: 3.2rem;
    --text-dksubtitle: 2.2rem;
    
    --color-bgmain: #000;
    --color-hm: #1a1919;
    --color-section: #222121;
    --color-bgtitles: #656565;
    --color-components: #353535;

    --color-titles: #ffffff;
    --color-main: #dedede;
    --color-link: #c0e6f8;
    --color-linkhover: #67cbf9;
    --color-linkvisited: #efbcfa;

    --radius-default: 0.5rem;
}