@import "tailwindcss";

@layer base {
    :root {
    --color-bg-main: #ffffff;
    --color-h-m: #f4f4f4;
    --color-section-c: #eaeaea;
    --color-bg-titles: #b5b5b5;
    --color-components-c: #d6d6d6;

    --color-titles-c: #111111;
    --color-main-c: #2a2a2a;
    --color-link-c: #0066cc;
    --color-link-hover: #004999;
    --color-link-visited: #663399;  
    }

    .dark {
    --color-bg-main: #000;
    --color-h-m: #1a1919;
    --color-section-c: #222121;
    --color-bg-titles: #656565;
    --color-components-c: #353535;

    --color-titles-c: #ffffff;
    --color-main-c: #dedede;
    --color-link-c: #c0e6f8;
    --color-link-hover: #67cbf9;
    --color-link-visited: #efbcfa; 
    }
}

@theme {
    --font-custom: Helvetica, Arial, sans-serif;

    --text-sm: 1rem;
    --text-md: 1.3rem;
    --text-lg: 1.6rem;
    --text-dktitle: 3.2rem;
    --text-dksubtitle: 2.2rem;
    
    --color-bgmain: var(--color-bg-main);
    --color-hm: var(--color-h-m);
    --color-section: var(--color-section-c);
    --color-bgtitles: var(--color-bg-titles);
    --color-components: var(--color-components-c);

    --color-titles: var(--color-titles-c);
    --color-main: var(--color-main-c);
    --color-link: var(--color-link-c);
    --color-linkhover: var(--color-link-hover);
    --color-linkvisited: var(--color-link-visited);

    --radius-default: 0.5rem;
}